.footer {
  padding: 100px 100px 20px !important;
  background-color: $textColor;
  @media (max-width: 998px) {
    padding: 30px 50px !important;
  }
  color: $whiteColor;
  &__social-link {
    font-size: 40px;
    color: $whiteColor;
    &:hover {
      color: $secondaryColor;
    }
  }
  &__navbar {
    padding-left: 30px;
    @media (max-width: 998px) {
      padding: 0;
    }
  }
  &__title {
    .title {
      color: $whiteColor;
      text-align: left;
      @media (max-width: 998px) {
        font-size: 20px;
        text-align: center !important;
      }
    }
  }
  &__nav-item,
  &__contact {
    list-style: none;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
    @media (max-width: 998px) {
      margin-bottom: 10px;
      text-align: center;
    }
    color: $whiteColor;
    &:hover > a {
      color: $secondaryColor !important;
    }
  }
  &__contact-col {
    @media screen and (max-width: 998px) {
      justify-content: center;
    }
  }
  &__copyright {
    border-top: 1px solid $whiteColor;
    padding-top: 20px;
  }
}
