.hero {
  padding: 50px 100px !important;
  position: relative;
  top: 150px;
  @media (max-width: 998px) {
    padding: 30px 50px !important;
  }
  &__btn {
    text-align: left;
    @media (max-width: 998px) {
      text-align: center;
    }
  }
}
